.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 500px;
}

.product img {
    max-width: 100%;
    max-height: 100%;
    max-height: 400px;
}

.product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price div,
.product-price button {
    text-align: center;
    flex: 1;
}

.product-price div {
    font-size: 2rem;
}



.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.products li {
    flex: 0 1 29rem;
    height: 47rem;
    padding: 1rem;
}
