* {
    box-sizing: border-box;
}

.App {
    text-align: center;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 14px;
    line-height: 1.4;
    width: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #faf2f242;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


a {
    background: 0 0;
    color: #4183C4;
    text-decoration: none;
}

.fa-sign-out{
position: absolute;
top: 25px;
right: 25px;
}

